@charset "UTF-8";

#contents #main-view {
	width:80%; margin:80px auto 0; position:relative;
	background-image:url("../images/main_img.jpg"); background-size:cover; height:250px;}
#contents #main-title {
	position:absolute; top:50%; left:50%; color:white; font-size:80px; white-space:nowrap;
	text-shadow:1px 2px 5px #000; transform:translate(-50%,-50%);}
#contents .video-forum,
#contents .video-forum ul {overflow:hidden;}
#contents .video-forum li {width:23%; position:relative; float:left;}
#contents .video-forum li:not(:first-child) {margin-left:2.66%;}
#contents .video-forum li .video-box {width:100%; padding-bottom:56.26%}
#contents .video-forum li .video-box iframe {position: absolute; width: 100%; height: 100%; border:none;}