@charset "UTF-8";

#contents #main-view {
	width:80%; margin:80px auto 0; position:relative;
	background-image:url("../images/ant_img.jpg"); background-size:cover; height:250px;}
#contents #main-title {
	position:absolute; top:50%; left:50%; color:white; font-size:80px; white-space:nowrap;
	text-shadow:1px 2px 5px #000; transform:translate(-50%,-50%);}
#contents section[class*=board] h3 a:hover {text-decoration:underline;}


@media (max-width:1350px) {   /* 영상게시판전용 */
    #contents .video-board ul {width:133.33%;}
    #contents .video-board li:nth-child(2),
    #contents .video-board li:nth-child(3) {margin-left:3%;}
    #contents .video-board li:nth-child(4) {display:none;}
}

@media (max-width:1024px) {   /* 테블릿 */
	#contents .video-board ul {width:200%;}
    #contents .video-board li:nth-child(1),
    #contents .video-board li:nth-child(2) {width:23.5%;}
    #contents .video-board li:nth-child(3) {display:none;}
    #contents #main-title {font-size:70px;}
  	#contents #main-view {width:100%; margin-top:0;}
}

@media (max-width:480px) {   /* 모바일 */
	#contents .video-board ul {width:100%;}
	#contents .video-board li:nth-child(1) {width:100%;}
    #contents .video-board li:nth-child(2) {display:none;}
    #contents #main-title {font-size:50px;}
}